/* StyleX entrypoint */
button,
input[type="button"],
input[type="submit"],
input[type="reset"] {
  border: 1px solid transparent;
  border-radius: 4px;
  background: transparent;
  color: inherit;
  font: inherit;
}

button {
  border: 1px solid grey;
  box-shadow: 1px 1px 1px brown;
}

button:not([role="tab"]):not([data-button-layout]) {
  box-sizing: border-box;
  height: 36px;
  padding: 6px 10px;
}
