name = "ftops-webhooks"
compatibility_date = "2026-01-01"
main = "src/index.ts"

routes = [
  { pattern = "api.from-trees.com/ingest/shopify/webhook*", zone_name = "from-trees.com" },
  { pattern = "api.from-trees.com/ingest/qbo/webhook*", zone_name = "from-trees.com" }
]

[[d1_databases]]
binding = "DB"
database_name = "ftops-db"
database_id = "0df8f7bd-69a2-460d-809f-f92a3c634ea6"

[[queues.producers]]
binding = "QB_INGEST_QUEUE"
queue = "events-qb-ingest"

[[queues.producers]]
binding = "SHOPIFY_INGEST_QUEUE"
queue = "events-shopify-ingest"

[observability]
[observability.logs]
enabled = true
invocation_logs = true

[vars]
INTEGRATIONS_KEY_ID = "v1"

[dev]
port = 8788
